html,
body {
  background-color: #4c51e9;
  /* background-color: white; */
  width: 100%;
  height: 120%;
  margin: 0;
}

/* /* .back1 {
  background-color: #4c51e9;
  width: 100%;
  height: 53.5%;
}

.back2 {
  background-color: #31348d;
  width: 100%;
  height: 5.5%;
} */

/* .perfect-talent {
  color: #e9e44c;
} */

/* .main-text {
  color: white;
  text-align: center;
  margin: 10px auto;
  inset: 0;
  font-size: 60px;
  letter-spacing: 1.5px;
  width: fit-content;
  height: fit-content;
  position: absolute;
  top: 20%;
} */
