html,
body {
width: 100%;
height: 100%;
margin: 0;
}

.name {
    margin-left: 156px;
    width: 15%;
    display: flex;
    flex-direction: row;
    font-size: 20px;
}

.edit {
    margin-left: auto;
    color: #31348D;
}

main {
    margin-top: 5%;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-con {
    margin-top: 10%;
    margin-left: 10%;
    width: 80%;
    height: 250px;
}

/* .profile-info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
} */

.profile-header {
    display: flex;
    flex-wrap: wrap;
}

.photo-profile {
    margin-left: 10px;
    /* background-color:red; */
    height: 50px;
}

.profile-header-info {
    margin: 0 10px; 
    flex-wrap: wrap;
    flex: 0;
    width: 100%;
}

.profile-name {
    color: black;
    font-size: 19px;
    width: 200px;
}

.profile-skill {
    color: #0074ff;
    width: 180px;
}

.profile-status-con {
    margin-left: auto;
    font-size: 1.5vw;
}

.profile-button {
    margin: 0px 10px;
}

.navigation-tab {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    background-color: white;
}
  
/* .line-container {
    width: 100%;
} */

/* .underline {
    background-color: #000;
    transition: transform 0.3s ease-out;
    transform: translateX(0);
} */


.tab-project {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    gap: 40px;
}
  
.tab-project a{
    font-size: 25px;
    color: black;
    text-decoration: none;
}

.tab-project a:focus-within{
    border-bottom: 5px solid #31348D;
}
.content {
    width: 100%;
    /* height: auto; */
    /* min-height: fit-content; */
    padding-bottom: 5%;
    padding-top: 3%;
    background-color: white;
    border-radius: 10px;
}
  
.wrapper{
    margin-left: 5%;
    /* max-height: fit-content; */
}

#content2,
#content3 {
    display: none;
}
  
.jobs-title-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    max-width: 240px;
}

.jobs-skill{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 350px;
}

.list-jobs-skill{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.aside {
    float: left;
}

.image-upload > input
{
    display: none;
}

.image-upload img
{
    width: 110px;
    cursor: pointer;
    margin-bottom: 10px;
}

.b-upload {
    width: 100%;
    height: auto;
    pointer-events: none;
    border: none;
}

.jobs-week{
    float: left;
    color: white;
    padding-top: 5px;
    padding-left: 20px;
    width: 100%;
    height: 100%;
    max-height: 400px;
    max-width: 300px;
    border-radius: 10px;
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.25);   
    margin-top: 2%;
    margin-left: 6%;
}

.jobs-progress-info{
    display: flex;
    flex-direction: column;
    padding-top: 11px;
}

.jobs-title{
    color: #31348D;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
}

.submit-edit-button{
    display: flex;
    justify-content: center;
}

input[type="submit"] {
    background-color: #2C5395;
    width: 10%;
    height: 40px;
    color: white;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.jobs-info {
    color: black;
}

.jobs-dateline{
    color: rgba(0, 0, 0, 0.70);
    font-size: 14px; 
}

.jobs-deadline{
    color: rgba(0, 0, 0, 0.70);
    font-size: 14px; 
}

.jobs-com {
    display: flex;
    flex-direction: row;
    margin-top: 2%;
    background-color: white;
    width: 60%;
    height: 100%;
    max-height: 100px;
    margin-left: 30%;
    border-radius: 20px;
    font-size: 20px;
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.25);
}

.jobs-photo {
    background-color: aqua;
    margin: auto 20px;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    flex-direction: row;
}

.side-border{
    margin-left: auto;
    border-left: 10px solid #31348D;
}

.side-texts {
    margin: 35px 30px 25px;
    text-align: center;
}

.jobs-progress {
    color: #31348D;
}

.jobs-done {
    color: #15992A;
}

.first-con {
    width: 100%;
    height: 100%;
    max-height: fit-content;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    row-gap: 50px;
    overflow-y: scroll;
}
  
.first-con::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
    display: none;
}

.talent-con {
    background-color: white;
    width: 30%;
    max-width: fit-content;
    height: 100%;
    max-height: 320px;
    border-radius: 10px;
    margin-left: 10%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
}
  
.talent-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
  
.talent-info > * {
    margin: 0 10px;
}
  
.talent-header {
    margin: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
  
.photo-profiles {
    background-color: gray;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}
  
.talent-header-info {
    margin: 0 15px;
    display: flex;
    flex-direction: column;
    gap: 7px;
}
  
.talent-name {
    color: black;
    font-weight: 700;
    font-size: 20px;
}
  
.talent-skill {
    color: #0074ff;
}
  
.talent-header-info > * {
    margin: 0;
}
  
.talent-status-con {
    margin-left: auto;
    font-size: 1.5vw;
}
  
.talent-desc {
    color: gray;
}

.talent-button {
    margin: auto;
    color: gray;
  }
  
.bookmarks{
    margin-left: auto;
}
  
.bi-bookmark-fill:hover {
    color: blue;
}
 
.profile-social-links {
    display: inline;
    max-width: 200px;
}

.profile-social-links a{
    color: #31348D;
    font-size: 30px;
    margin: 0 10px 10px 0;
}
  
/* CSS Footer untuk Talent */

.layar-dalam {
    width: 80%;
    display: flex;
    flex-direction: row;
    margin: auto;
    justify-content: space-between;
}
  
footer {
    padding-top: 2%;
    padding-left: 100px;
    color: black;
}
  
footer .layar-dalam div{
    width: 100%;
}
  
.kiri {
    display: flex;
    flex-direction: column;
}
  
footer .layar-dalam h5{
    margin-top: 0px;
    font-size: 20px;
    font-weight: bold;
    color: #31358A;
}
  
footer .layar-dalam .copyright{
    width: 100%;
    margin-top: 30px;
    padding-top: 30px;
    border-top: 2px solid #31348D;
    text-align: center;
}
  
.kanan .social-links a{
    display: inline-block;
    color: black;
    height: 40px;
    width: 40px;
    margin:0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
}
  
.social-links a:hover{
    color: white;
    background-color:#001AFF;
}

.colorlink {
    color : #001AFF;
}