html,
body {
width: 100%;
height: 100%;
margin: 0;
}

main {
    margin-top: 5%;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navigation-tab {
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    background-color: white;
    border-radius: 12px 12px 0px 0px;
}
  
/* .line-container {
    width: 100%;
} */

/* .underline {
    background-color: #000;
    transition: transform 0.3s ease-out;
    transform: translateX(0);
} */

.tab-project {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 1000px;
    font-size: 10px;
}
  
.tab-project a{
    font-size: 20px;
    text-align: center;
    color: #31348D;
    font-weight: 600;
    background-color: #A0D9F6;;
    text-decoration: none;
    width: 100%;
    min-width: fit-content;
    border-right-style: solid;
    padding: 20px;
}

.tab-project a:focus{
    background-color: #31348D;
    color: white;
    border-radius: inherit;
}

.content {
    width: 100%;
    max-width: 2000px;
    height: auto;
    min-height: fit-content;
    max-height: 1000px;
    margin-bottom: 5%;
    padding-top: 3%;
    background-color: white;
}
  
.wrapper{
    margin-left: 5%;
    /* max-height: fit-content; */
}

#content2,
#content3 {
    display: none;
}

.detail-wrapper {
    border-radius: 0 0 10px 10px;
    width: 100%;
    max-width: 1000px;
}

.detail-jobs-title {
    color: #31348D;
    margin-left: auto;
    text-align: center;
    font-size: 24px;
    font-weight: 600;
}

 .detail-jobs-info {
    display: flex;
    flex-direction: column;
}

.detail-jobs-inst {
    padding-left: 5%;
}

.detail-jobs-head {
    width: 100%;
    max-width: fit-content;
    color: #31348D;
    padding-left: 5%;
    font-size: 20px;
    font-weight: 600;
}

.detail-jobs-dateline {
    margin-left: auto;
}

.detail-jobs-desc {
    color: gray;
    padding-left: 5%;
    font-size: 12px;
}

.detail-list {
    color: gray;
    font-size: 12px;
    padding-left: 7%;
}

.photo-project {
    padding-left: 5%;
    width: 200px;
    height: 120px;
}

.header {
    width: 90%;
    display: flex;
    flex-direction: row;
}

.missing {
    color: red;
}

.detail-photo{
    padding-bottom: 5%;
}

.detail-border {
    width: 85%;
    border: solid 2px #31348D;
    margin-left: 5%;
    opacity: 1;
}

.detail-jobs-submit{
    display: flex;
    flex-direction: row;
    margin: auto 50px;
}

input[type="submit"]{
    width: 100px;
    height: 100%;
    padding: 10px;
    margin: auto 40px;
    color: white;
    background-color: #31348D;
    border: none;
    border-radius: 10px;
}

input[type="submit"]{
    width: 100px;
    height: 100%;
    padding: 10px;
    margin: auto 40px;
    color: white;
    background-color: #31348D;
    border: none;
    border-radius: 10px;
}

/* CSS Footer untuk Talent */

.layar-dalam {
    width: 80%;
    display: flex;
    flex-direction: row;
    margin: auto;
    justify-content: space-between;
}
  
footer {
    margin-top: auto;
    padding-top: 2%;
    padding-left: 100px;
    color: black;
    background-color: white;
}
  
footer .layar-dalam div{
    width: 100%;
}
  
.kiri {
    display: flex;
    flex-direction: column;
}
  
footer .layar-dalam h5{
    margin-top: 0px;
    font-size: 20px;
    font-weight: bold;
    color: #31358A;
}
  
footer .layar-dalam .copyright{
    width: 100%;
    margin-top: 30px;
    padding-top: 30px;
    border-top: 2px solid #31348D;
    text-align: center;
}
  
.kanan .social-links a{
    display: inline-block;
    color: black;
    height: 40px;
    width: 40px;
    margin:0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
}
  
.social-links a:hover{
    color: white;
    background-color:#001AFF;
}

.colorlink {
    color : #001AFF;
}