html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: #E0EAF7;
}

* {
  font-family: "Cabin", sans-serif;
  box-sizing: border-box;
}

/* Scrolling mechanism */
/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.texts {
  padding-top: 15%;
  padding-left: 10%;
  font-size: 30px;
  font-weight: 900;
}

.color{
  color: #15076F;
}

.cta {
  margin: auto;
  display: inline-block;
  color: white;
  font-size: 17px;
  text-decoration: none;
  background-color: #2C5395;
  align-items: center;
  width: 9%;
  height: 35px;
  border-radius: 5px;
  text-align: center;
  padding-top: 5px;
}

.wrap-box{
  margin-left: 2.5%;
  margin-top: 10%;
  width: 19%;
  height: 310px;
  max-height: fit-content;
  background-color: white;
  padding-left: 2%;
  padding-right: 2%;
  border-radius: 20px;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.25);
}

.kotakcari{
  padding-top: 15px;
  border-radius: 15px;
}

.carikerja {
  border-width: 100%;
  border: 1px solid #31348D;
  padding: 10px;
  border-radius: 15px;
}

.lokasi {
  width: 100%;
  max-width:300px;
  height: 32px;
}

hr .crkerja{
  width: 40px;
  max-width: fit-content;
}

.button-submit {
  margin-top: 50%;
  margin-left: 30%;
}

input[type="submit"]{
  font-size: 16px;
  width: 100%;
  max-width: 100px;
  padding: 10px;
  border: none;
  background-color: #2C5395;
  color: white;
  border-radius: 10px;
}

input[type="submit"]:hover{
  background-color: #12336A;
}

.wrapper{
  float: right;
  margin-right: 5%;
  width: 70%;
  height: 100%;
  max-height: fit-content;
}

.cards-wrapper{
  border-left: 1px solid gray;
  height: 500px;
  display: flex;
  flex-direction: row;
}

.main {
  width: 100%;
  height: 100%;
  background-color: #e0eaf6;
  opacity: 1;
}

.first-con {
  width: 100%;
  height: 100%;
  margin: auto 20px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  row-gap: 30px;
  overflow: scroll;
}

.first-con::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
  display: none;
}

.talent-con {
  background-color: white;
  /* max-width: fit-content; */
  width: 48%;
  height: 65%;
  max-height: fit-content;
  border-radius: 10px;
  margin: auto;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
}

.talent-info {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.talent-info > * {
  margin: 0 10px;
}

.talent-header {
  margin: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.talent-header a{
  text-decoration: none;
}

.photo-profile {
  background-color: gray;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.talent-header-info {
  margin: 0 15px;
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.talent-name {
  color: black;
  font-weight: 700;
  font-size: 18px;
}

.talent-skill {
  color: #0074ff;
  width: 100%;
}

.talent-header-info > * {
  margin: 0;
}

.talent-status-con {
  margin-left: auto;
  font-size: 1.5vw;
}

.talent-desc {
  color: gray;
}

.talent-button {
  margin: 0px 10px;
  color: gray;
}

.bookmarks{
  margin-left: auto;
}

.bi-bookmark-fill:hover {
  color: blue;
}

.about{
  width: 80%;
  margin: auto 10%;
  /* background-color:white; */
  padding: 5%;
}

.about h3{
  padding-top: 5%;
  padding-left: 43%;
  font-size: 30px;
  top: 5%;
  color: #31358A;
}

.about p{
  padding: 10px;
  font-size: 18px;
  text-align: justify;
  text-justify: inter-word;
}

.flex-container {
  display: flex;
  width: 90%;
  max-width:fit-content;
}

.flex-child {
  flex: 1;
  margin-left: 30px;
  margin-right: 30px;
}  

.flex-child:first-child {
  display: flex;
  flex-direction: column;
  margin-left: 180px;
} 

.circle{
  margin-left: 45%;
  padding: 10px;
  text-align: center;
  color: #31358A;
  background-color: white;
  width: 12%;
  font-size: 40px;
  border-radius: 50%;
}

.konten{
  padding-left: 10%;
  padding-right: 10%;
}

.content-wrapper{
  width: 75%;
  max-width: 1000px;
  /* background-color: red; */
  margin-left: 10%;
  gap: 10px;
}

/* 
.content-wrapper hr{
  width: 100%;
} */

.jobs-detail{
  /* margin-left: 10%; */
  margin-top: 15%;
  width: 70%;
}

.jobs-con {
  background-color: white;
  width: 100%;
  /* width: 46%; */
  /* height: 59%; */
  max-height: fit-content;
  border-radius: 10px;
  /* margin: auto; */
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
}

.jobs-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.jobs-info > * {
  margin: 0 10px;
}

.jobs-header {
  margin: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.photo-profiles {
  background-color: white;
  border-radius: 50%;
  width: 70px;
  height: 70px;
}

.jobs-header-info {
  margin: 0 15px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.jobs-name {
  color: black;
  font-weight: 700;
  font-size: 20px;
}

.jobs-desc {
  width: 100%;
  max-width: fit-content;
}

.jobs-skill {
  color: #0074ff;
}

.jobs-header-info > * {
  margin: 0;
}

.jobs-status-con {
  margin-left: auto;
  font-size: 1.5vw;
}

.jobs-desc {
  color: gray;
}

.jobs-button {
  margin: 0px 10px;
}

aside {
  float: right;
  width: 25%;
  padding-right: 3%;
  /* background-color: white; */
  /* position: absolute; */
}

/* .icon{
  float: right;
} */

.divide{
  margin-top: 2%;
  width: 63%;
  margin-left: 10%;
  color: #2C5395;
}

.detail-info{
  width: 73%;
  padding-left: 10%;
}

.detail-info p{
  text-align: justify;
}

.list-req{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 50%;
  /* padding-left: 20px; */
}
/* CSS Footer untuk Talent */

.layar-dalam {
  width: 80%;
  display: flex;
  flex-direction: row;
  margin: auto;
  justify-content: space-between;
}

footer {
  margin-top: 13%;
  padding-top: 2%;
  padding-left: 100px;
  background-color: white;
  color: black;
}

footer .layar-dalam div{
  width: 100%;
}

.kiri {
  display: flex;
  flex-direction: column;
}

footer .layar-dalam h5{
  margin-top: 0px;
  font-size: 20px;
  font-weight: bold;
  color: #31358A;
}

footer .layar-dalam .copyright{
  width: 100%;
  margin-top: 30px;
  padding-top: 30px;
  border-top: 2px solid #31348D;
  text-align: center;
}

.kanan .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
}

.kanan .social-links a:hover{
	color: white;
	background-color:#001AFF;
}

footer .layar-dalam .copyright{
  width: 100%;
  margin-top: 30px;
  padding-top: 30px;
  border-top: 2px solid #31348D;
  text-align: center;
  padding-bottom: 8px;
}

.colorlink {
  color : #001AFF;
}